<section class="bg-dark">
  <section class="p-5">
    <div class="border-bottom border-warning">
      <p class="m-0 p-0 fs-2" style="font-family: cursive">Bit Shoes</p>
    </div>
  </section>

  <section class="d-flex flex-wrap justify-content-evenly">

    <div class="m-4 text-center fs-5">
      <img src="" alt="" />
      <p>Nosotros</p>
      <p>Política de tratamiento de datos</p>
      <p>Contáctanos</p>
      <p>Aviso de privacidad</p>
      <p>Política Envíos y Devoluciones</p>
    </div>

    <div class="m-4">
      <p class="fs-4 text-warning">Sigue A Bit Shoes</p>

      <div class="d-flex justify-content-center">
        <div style="width: min-content">
          <img
            class="p-2"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Facebook_f_logo_%282019%29.svg/2048px-Facebook_f_logo_%282019%29.svg.png"
            alt=""
          />
          <img
            class="p-2"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Logo_of_YouTube_%282015-2017%29.svg/2560px-Logo_of_YouTube_%282015-2017%29.svg.png"
            alt=""
          />
          <img
            class="p-2"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/2491px-Twitter-logo.svg.png"
            alt=""
          />
          <img
            class="p-2"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="m-4">
      <p class="fs-4 text-warning">Metodos de Pago</p>
      <div class="d-flex justify-content-center">
        <div style="width: min-content">
          <img
            style="width: 5em"
            class="p-2 mb-3"
            src="https://cdn.shopify.com/s/files/1/0455/9968/6819/files/visa-01.png?v=1653490461"
            alt=""
          />
          <img
            style="width: 5em"
            class="p-2"
            src="https://cdn.shopify.com/s/files/1/0455/9968/6819/files/efecty-01.png?v=1653490461"
            alt=""
          />
          <img
            style="width: 5em"
            class="p-2 mb-3"
            src="https://seeklogo.com/images/D/daviplata-logo-7B75E8A895-seeklogo.com.png"
            alt=""
          />
          <img
            style="width: 5em"
            class="p-2"
            src="https://cdn.shopify.com/s/files/1/0455/9968/6819/files/pse-01.png?v=1653490461"
            alt=""
          />
        </div>
      </div>
      
    </div>

  </section>
  
</section>
