<nav class="navbar navbar-expand-lg shadow-lg p-2 navbar-dark bg-dark">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand fs-2" href="#" style="font-family: cursive"
        >Bit Shoes</a
      >
    </div>
    <button
      class="navbar-toggler bg-dark"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse w-100" id="navbarNavAltMarkup">


      <div class="navbar-nav w-100 d-flex justify-content-center">
        <a class="nav-link" [routerLink]="['/outlet']">Outlet</a>
        <a class="nav-link" [routerLink]="['/hombre']">Hombre</a>
        <a class="nav-link" [routerLink]="['/mujer']">Mujer</a>
        <a class="nav-link" [routerLink]="['/admin']">Admin</a>
      </div>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav w-100 d-flex justify-content-end">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </div>
      </div>

      <div class="dropdown nav-link" *ngIf="this.userService.isLoggedIn()">
        <a
          class="btn btn-secondary dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{
            this.userService.decodeToken().firstName +
              " " +
              this.userService.decodeToken().lastName
          }}
        </a>

        <ul class="dropdown-menu bg-dark">
          <li>
            <a class="dropdown-item" style="cursor: pointer">Configuración</a>
          </li>
          <li><a class="dropdown-item" href="#">Ver Perfil</a></li>
          <hr class="dropdown-divider" />
          <li>
            <a class="dropdown-item" (click)="this.userService.logOut()"
              >Cerrar Sesión</a
            >
          </li>
        </ul>
      </div>
    </div>

  
  </div>
</nav>
