<nav class="navbar navbar-expand-lg shadow-lg p-2 navbar-dark bg-dark">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand fs-2 " href="#" style="font-family: cursive"
        >Bit Shoes</a
      >

    </div>
    <button
      class="navbar-toggler bg-dark"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav w-100 d-flex justify-content-center">
        <a class="nav-link" [routerLink]="['/Outlet']">Outlet</a>
        <a class="nav-link" [routerLink]="['/Hombre']">Hombre</a>
        <a class="nav-link" [routerLink]="['/Mujer']">Mujer</a>
      </div>
    </div>
  </div>
</nav>
